@import "./sass/mixins";
* {
  direction: rtl;
  font-family: "Tajawal", serif;
}
body.noscroll {
  overflow: hidden !important;
}
.model-view {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  z-index: 99999999999999999;
  display: none;
  &.opened {
    @include centerFlex();
  }
  .form {
    background-color: $white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: min(100% - 48px, 340px);
    height: 340px;
    border-radius: 22px;
    position: relative;
    padding: 3rem;
    .close {
      cursor: pointer;
      position: absolute;
      top: 24px;
      left: 24px;
      @include clearInput();
      width: 24px;
      height: 24px;
      @include centerFlex();
      i {
        color: $dark-green;
        font-size: 20px;
      }
    }
    form {
      width: 100%;
      height: 100%;
      margin-top: 1rem;
      display: flex;
      gap: 2.5rem;
      justify-content: center;
      flex-direction: column;
      .btn {
        cursor: pointer;
        @include clearInput();
        width: 60%;
        background-color: $main;
        color: $white;
        align-self: center;
        height: 42px;
        border-radius: 8px;
      }
      input {
        @include clearInput();
        border-bottom: 1px solid #dbdad9;
        &:focus {
          border-color: $main;
        }
      }
    }
  }
}
nav {
  padding: 20px 120px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: $white;
  z-index: 999999999;
  ul {
    @include centerFlex();
    gap: 64px;
    height: inherit;
    li {
      position: relative;
      &::after {
        position: absolute;
        content: ' ';
        left: 50%;
        width: 0;
        height: 2px;
        bottom: 2px;
        transform: translateX(-50%);
        background-color: $main;
        transition: .3s ease-in-out;
      }
      &.active::after {
        width: 100%;
      }
      &:hover:after {
        width: 100%;
      }
      a {
        color: $black;
        font-weight: 600;
        font-size: 15px;
      }
    }
  }
  .logo {
    a {
      display: block;
      img {
        max-height: 56px;
      }
    }
  }
  .btns {
    @include centerFlex();
    gap: 16px;
    a {
      @include centerFlex();
      padding: 5px 17px;
      background: $main;
      color: $white;
      font-size: 14px;
      font-weight: 500;
      border-radius: 10px;
    }
    button {
      display: none;
      cursor: pointer;
      height: 42px;
      width: 42px;
      @include clearInput();
      background-color: $main;
      color: $white;
      font-size: 14px;
      font-weight: 500;
      border-radius: 10px;
    }
  }
}
.container {
  padding: 0 120px;
  margin-bottom: 100px;
  .header {
    height: calc(100vh - 100px);
    display: flex;
    .decription-col {
      width: 50%;
      padding-top: 100px;
      h1 {
        line-height: 54px;
        font-size: 36px;
      }
      .clients {
        display: flex;
        padding: 30px 0;
        gap: 25px;
        .cc {
          display: flex;
          .client {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            overflow: hidden;
            margin-left: -10px;
            img {
              object-fit: cover;
              width: 100%;
              height: 100%;
            }
          }
        }
        .customers {
          display: flex;
          flex-direction: column;
          justify-content: center;
          span {
            color: $black;
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            i {
              color: #fbb326;
              margin-left: 4px;
              font-size: 14px;
            }
          }
        }
      }
      .downoad-app {
        h3 {
          color: $dark-green;
        }
        .links {
          display: flex;
          padding: 22px 0;
          gap: 1rem;
          img {
            max-height: 46px;
          }
        }
      }
    }
    .thumb-col {
      width: 50%;
      padding-top: 100px;
      display: flex;
      justify-content: flex-end;
      .circle-back {
        width: 450px;
        height: 450px;
        border-radius: 50%;
        background-color: $main;
        position: relative;
        img {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: -50px;
          max-height: 510px;
        }
      }
    }
  }
  .about {
    padding: 4rem 0;
    h2 {
      font-size: 24px;
      text-align: center;
    }
    p {
      text-align: center;
      color: $dark-green;
    }
    .row {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      padding: 80px 0 80px 0;
      .static-box {
        border-left: 1px solid #dbdad9;
        @include centerFlex();
        flex-direction: column;
        &:last-child {
          border-left: none;
        }
        .circle {
          width: 70px;
          height: 70px;
          border-radius: 50%;
          background-color: $white;
          box-shadow: $btn_shadow;
          @include centerFlex();
          &:hover {
            i {
              transform: scale(1.1);
              transition: .3s ease-in-out;
            }
          }
          i {
            font-size: 24px;
            color: $dark-green;
          }
        }
        h4 {
          margin-top: 30px;
          font-size: 22px;
        }
      }
    }
  }
  .packages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    .package {
      padding: 15px;
      border-radius: 24px;
      background-color: $secondary;
      .package-head {
        height: 180px;
        background-size: cover;
        padding: 24px;
        border-radius: 16px;
        h3 {
          margin-top: 60px;
          font-size: 22px;
          font-weight: 600;
          line-height: 30px;
          color: $white;
        }
        p {
          color: $white;
          b {
            font-size: 32px;
            font-weight: 700;
            line-height: 48px;
            margin-left: 4px;
          }
        }
        &.head1 {
          background-image: url('images/IMG_2994.JPG');
        }
        &.head2 {
          background-image: url('images/IMG_2998.JPG');
        }
        &.head3 {
          background-image: url('images/IMG_2996.JPG');
        }
      }
      .price {
        color: $dark-green;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        line-height: 39px;
        padding: 15px 0;
        small {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          color: $gray;
        }
      }
      .features {
        background-color: $white;
        padding: 25px 16px;
        border-radius: 16px;
        ul {
          display: flex;
          flex-direction: column;
          gap: 10px;
          li {
            display: flex;
            align-items: center;
            img {
              margin-left: 5px;
            }
          }
        }
      }
      button {
        width: 100%;
        margin: 15px 0 5px 0;
        @include clearInput();
        background-color: $dark-green;
        color: $white;
        font-size: 16px;
        font-weight: 500;
        padding: 10px 0;
        border-radius: 12px;
        cursor: pointer;
      }
    }
  }
  .appImgs {
    padding-top: 10rem;
    position: relative;
    .swiper {
      width: 100%;
      padding: 30px 0;
      position: relative;
      .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 234px;
        height: 507px;
        position: relative;
        @media (max-width: 768px) {
          width: 175.5px;
          height: 380px;
        }
        img {
          display: block;
          width: 100%;
          border-radius: 16px;
        }
      }
      .frame {
        width: 270px;
        height: 535px;
        @media (max-width: 768px) {
          width: 202.5px;
          height: 401px;
        }
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
      }
    }
    .sectionTitle {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h2 {
        width: 100%;
        font-size: 24px;
      }
    }
    .swiper-wrapper {
      height: auto;
    }
    .swiper-3d .swiper-slide-shadow,
    .swiper-3d .swiper-slide-shadow-bottom,
    .swiper-3d .swiper-slide-shadow-left,
    .swiper-3d .swiper-slide-shadow-right,
    .swiper-3d .swiper-slide-shadow-top {
      border-radius: 16px;
      box-shadow: 0px 2px 4px #00000010;
      border: 4px solid $white;
    }
    .swiper-3d .swiper-slide-shadow-left {
      background: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0)
      );
    }
    .swiper-3d .swiper-slide-shadow-right {
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0)
      );
    }
  }
  .usage {
    padding: 100px 0;
    h2 {
      text-align: center;
      font-size: 24px;
      margin-bottom: 15px;
    }
    p {
      text-align: center;
      margin-bottom: 4rem;
      color: $dark-green;
    }
    .cards {
      display: flex;
      gap: 80px;
      .use-card {
        width: calc(100% / 3.5);
        gap: 1.25rem;
        padding: 0 2rem;
        @include centerFlex();
        flex-direction: column;
        height: 320px;
        background-color: $white;
        border-radius: 12px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        &:nth-child(2) {
          margin-top: 50px;
        }
        &:nth-child(1) {
          margin-top: 100px;
        }
        h3 {
          text-align: center;
          line-height: 30px;
        }
        p {
          margin-bottom: 0;
          line-height: 24px;
          text-align: center;
          color: $gray;
          font-weight: 500;
        }
      }
    }
  }
  .contact {
    position: relative;
    .circl1 {
      position: absolute;
      top: 40px;
      left: 40px;
      width: 300px;
      height: 300px;
      z-index: -1;
      border-radius: 50%;
      background: $linear_blue;
    }
    padding-top: 2rem;
    h2 {
      text-align: center;
      margin-bottom: 1rem;
    }
    p {
      text-align: center;
      margin-bottom: 3rem;
      color: $dark-green;
    }
    form {
      background-color: #fcfcfc;
      box-shadow: $btn_shadow;
      display: flex;
      border-radius: 20px;
      flex-direction: column;
      gap: 4rem;
      margin: 0 10rem;
      padding: 4rem;
      .form-group {
        display: flex;
        justify-content: space-between;
        width: 100%;
        input {
          @include clearInput();
          border-bottom: 1px solid #dbdad9;
          &:focus {
            border-color: $main;
          }
        }
      }
      .message-field {
        width: 100%;
        textarea {
          width: 100%;
          @include clearInput();
          border-bottom: 1px solid #dbdad9;
          &:focus {
            border-color: $main;
          }
        }
      }
      button {
        width: 160px;
        height: 50px;
        cursor: pointer;
        @include clearInput();
        background-color: $main;
        color: $white;
        font-size: 18px;
        border-radius: 14px;
      }
    }
  }
}
footer {
  padding: 32px 100px;
  display: flex;
  flex-direction: column;
  .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    .logo img {
      max-width: 200px;
    }
    .col {
      h4 {
        color: $dark-green;
        font-size: 22px;
        margin-bottom: 16px;
      }
      p {
        color: $dark-green;
        line-height: 28px;
        padding: 5px 0;
      }
      .contact {
        display: flex;
        gap: 8px;
        align-items: center;
        i {
          font-size: 18px;
          color: $dark-green;
        }
        a {
          color: $dark-green;
        }
      }
      .social {
        display: flex;
        padding: 15px 0;
        gap: 2rem;
        a i {
          color: $dark-green;
          font-size: 22px;
        }
      }
      .links {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        img {
          max-height: 50px;
        }
      }
      ul li a {
        color: $dark-green;
        font-weight: 500;
      }
    }
  }
  .copy {
    width: 100%;
    border-top: 1px solid #dbdad9;
    margin-top: 2rem;
    padding-top: 32px;
    p {
      text-align: center;
      color: $dark-green;
      font-size: 16px;
      font-weight: 500;
    }
  }
}
.swiperBtns {
  position: relative;
  display: flex;
  .swiper-pagination {
    margin: 0px 10px;
    display: flex;
    align-items: center;
    position: relative;
    top: unset;
    bottom: unset;
    right: unset;
    left: unset;
    color: $main;
    .swiper-pagination-current {
      font-size: 30px;
      font-weight: bold;
      margin: 0px 8px;
    }
    .swiper-pagination-total {
      font-size: 20px;
      margin: 0px 8px;
      opacity: 0.6;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    position: relative;
    right: unset;
    top: unset;
    left: unset;
    bottom: unset;
    margin: 0 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $main;
    width: auto;
    z-index: 1;
    &::after {
      width: 40px;
      height: 40px;
      background: url(../img/arrow.svg);
      background-size: 40px 40px;
      background-position: center;
      background-repeat: no-repeat;
      content: "___";
    }
  }
  .swiper-button-next {
    right: unset;
  }
  .swiper-button-prev {
    &::after {
      transform: scaleX(-1);
    }
  }
}
@media (max-width: 992px) {
  nav {
    padding: 20px 60px;
    ul {
      gap: 44px;
    }
  }
  .container {
    padding: 0 60px;
    .header {
      .thumb-col .circle-back {
        width: 420px;
        height: 420px;
      }
      .decription-col h1 {
        line-height: 50px;
      }
    }
    .packages {
      gap: 1.5rem;
    }
    .usage .cards {
      gap: 60px;
    }
    .contact {
      .circl1 {
        top: 40px;
        left: -40px;
      }
      form {
        margin: 0 5rem;
      }
    }
  }
  footer {
    padding: 32px 20px;
    .row .col .links img {
      max-height: 45px;
    }
  }
}
@media (max-width: 768px) {
  nav {
    padding: 20px 40px;
    transition: all .5s ease-in-out;
    &.opened {
      height: 100vh;
      ul {
        display: flex;
        flex-direction: column;
        gap: 32px;
        position: absolute;
        left: 50%;
        top: 55%;
        transform: translate(-50%, -50%);
      }
    }
    ul {
      display: none;
    }
    .btns {
      height: 56px;
      button {
        display: block;
      }
    }
  }
  .container {
    padding: 0 40px;
    .header {
      .thumb-col {
        padding-top: 140px;
        .circle-back {
          width: 340px;
          height: 340px;
          img {
            max-height: 440px;
          }
        }
      }
      .decription-col {
        .downoad-app .links img {
          max-height: 40px;
        }
        h1 {
          font-size: 26px;
          line-height: 45px;
        }
        .clients .cc .client {
          width: 45px;
          height: 45px;
        }
        .clients .customers span {
          line-height: 24px;
        }
      }
    }
    .about .row {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
      .static-box:nth-child(2) {
        border: none;
      }
    }
    .packages {
      overflow-x: scroll;
      padding-bottom: 32px;
      &::-webkit-scrollbar {
        height: 4px;
      }
      &::-webkit-scrollbar-track {
        background-color: $white;
      }
      &::-webkit-scrollbar-thumb {
        background-image: $linear_blue;
      }
      .package {
        width: 330px;
      }
    }
    // .appImgs .swiper .frame {
    //   top: 30%;
    // }
    .usage .cards {
      @include centerFlex();
      flex-direction: column;
      .use-card {
        width: 50%;
        &:nth-child(1) {
          margin-top: 0;
        }
        &:nth-child(2) {
          margin-top: 0;
        }
      }
    }
    .contact form {
      gap: 3rem;
      margin: 0 2rem;
      .form-group {
        flex-direction: column;
        gap: 3rem;
        input {
          width: 100%;
        }
      }
    }
  }
  footer {
    .row {
      grid-template-columns: repeat(3, 1fr);
      .col:last-child {
        padding-right: 32px;
      }
    }
  }
}
@media (max-width: 576px) {
  nav {
    padding: 20px 32px;
    .logo {
      a img {
        max-height: 42px;
      }
    }
    .btns {
      height: 42px;
      a {
        padding: 5px 12px;
        font-size: 12px;
      }
    }
  }
  .container {
    .header {
      height: auto;
      flex-direction: column-reverse;
      .decription-col {
        width: 100%;
        padding-top: 74px;
      }
      .thumb-col {
        width: 100%;
        align-items: center;
        justify-content: center;
        .circle-back {
          width: 300px;
          height: 300px;
          img {
            max-height: 380px;
          }
        }
      }
    }
    .packages .package {
      width: 280px;
    }
    .usage .cards {
      gap: 32px;
      .use-card {
        height: 280px;
      }
    }
    .contact form {
      margin: 0;
      padding: 2rem;
      gap: 2rem;
      .form-group {
        gap: 2rem;
      }
    }
    .appImgs {
      padding: 3rem 0 0 0;
      .swiper {
        padding-bottom: 0;
      }
    }
    .usage .cards .use-card {
      width: 100%;
    }
    .contact .circl1 {
      top: initial;
      bottom: -80px;
    }
  }
  footer {
    padding: 32px 40px;
    .row {
      grid-template-columns: repeat(1, 1fr);
      .col:first-child {
        display: none;
      }
      .col:last-child {
        padding-right: 0;
      }
      .phones {
        display: flex;
        margin-bottom: 1rem;
        gap: 1.5rem;
      }
      .col .links {
        flex-direction: row;
        img {
          max-height: 34px;
        }
      }
    }
    .copy p {
      line-height: 24px;
    }
  }
}
